@{
    var lang = Outputs
        .FromPipeline("Data")
        .First(x => x.Source.FileName == "content.json")
        .GetDocument("languages")
        .GetDocument("en");
    
    var pageTitle = lang.GetDocument("meta").GetString("title");
    var pageDescription = lang.GetDocument("meta").GetString("description");
}
<!DOCTYPE html>
<html lang="@lang">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@pageTitle</title>
    <meta name="description" content="@pageDescription">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    @RenderBody()
    
    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year @lang.GetDocument("footer").GetString("copyright")</p>
        </div>
    </footer>
</body>
</html>